.container-fluid{
	max-width:rem-calc(1920);
}

.primary_bg{
	background-color:$brand-primary;
	color: white;
}
.secondary_bg{
	background-color:$brand-dark-grey;
	color: white;
}
.underline{
	border-bottom:1px solid $brand-tertiary;
}

.show-sm{
	display:none;
}

.hero-slider{
	display:block;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	z-index: 1;
	position:absolute;

	&__item{
		height: 100%;
		width: 100%;
		background-size:cover;
	}
	.hero-prev,.hero-next{
		border:0;
		background-color:transparent;
		cursor: pointer;
		&:after{
			display: none;
		}
		&:before{
			padding:rem-calc(10);
		}
	}
	.hero-next{
		right:2vw;
		&:before{
			transform: rotate(135deg) !important;
		}
	}
	.hero-prev{
		left:2vw;
	}
	.owl-dots{
		padding-bottom:rem-calc(50);
	}
}
.hero-content{
	z-index:10;
}

#rooms{
	.row{
		&:nth-of-type(even){
			.room-card{
				&__carousel{
					order: 1;
					padding-right:1em;
				}
				&__content{
					order: 2
				}
			}
		}
		&:nth-of-type(odd){
			.room-card{
				&__carousel{
					order: 2;
					padding-left:1em;
				}
				&__content{
					order: 1
				}
			}
		}
	}
}
.feature-item{
	max-width:20%;
}
.cta{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.booking-form{
	background-color:$brand-tertiary;
	z-index: 501;
	top:rem-calc(66);
	color: white;
	font-family: $brand-font;
	max-height: calc(100vh - 100px);
	overflow-y: scroll;
	h3{
		font-size:rem-calc(26);
		display: none;
	}
	input, select{
		padding:rem-calc(5) rem-calc(10);
		border:1px solid transparent;
		height: rem-calc(50);
		line-height: rem-calc(40);
		font-family: $body-font;
		color: $brand-dark-grey;
		&[type="submit"]{
			background-color:$brand-secondary;
			color: white;
			text-transform: uppercase;
			font-family: $body-font;
			font-weight: 300;
			&:hover{
				color: $brand-primary;
				background-color: white;
			}
		}
	}
	.hb-details-fields{
		display: flex;
		flex-wrap: wrap;
		p{
			padding-right:1em;
			width: 20%;
			&:nth-of-type(5n){
				padding-right:0;
			}
		}
	}
	.hb-resa-summary-content{
		background-color:transparent;
	}
	&.active{
		padding-top:rem-calc(10);
		padding-bottom:rem-calc(10);
	}

}
.contact-form{
	label{
		width:100%;
	}
	span{
		width:100%;
		display:block;
	}
	textarea{
		height:rem-calc(150);
		width:100%;
		font-size:rem-calc(14);
		&::placeholder{
			color:$brand-tertiary;
			font-weight:300;
			font-size:rem-calc(14);
		}
	}
	input{
		width:100%;
		&[type=submit]{
			width:auto;
		}
		font-size:rem-calc(14);
		&::placeholder{
			color:$brand-tertiary;
			font-weight:300;
			font-size:rem-calc(14);
		}
	}
}

.btt{
	border-bottom:1px solid white;
	margin-left:0 !important;
	padding-left:0 !important;
	padding-bottom:rem-calc(2);
}
.fixed{
	position:fixed;
	&__bottom{
		bottom:0;
	}
}
.contact-bar{
	width:100%;
	background-color:white;
	color:$brand-tertiary;
	z-index:1000;
	padding:.5em 1em;
	a{
		color:$brand-tertiary;
	}
	br{
		display:none;
	}
}

#things{
	background-color:$brand-dark-grey;
	border:5px solid $brand-dark-grey;
	transition:$fastEffect;
	&:hover{
		background-color:transparent;
		transition: $fastEffect;
		cursor: pointer;
		.heading{
			color:$brand-dark-grey;
		}
		svg path{
			fill:$brand-dark-grey;
		}
	}
}
#eat, #eat-mob{
	background-color: $brand-primary;
	border:5px solid $brand-primary;
	transition:$fastEffect;
	cursor: pointer;
	&:hover{
		background-color:transparent;
		transition: $fastEffect;
		.heading{
			color:$brand-primary;
		}
		svg path{
			fill:$brand-primary;
		}
	}
}

.things-container, .eat-container, .eat-mob-container{
	background-color:$brand-dark-grey;
	display: none;
	&__lbox{
		border-right:1px solid white;
	}
	&__list{
		column-count: 2;
		list-style: none;
		margin-left: 0;
		padding-left:0;
		transition:$fastEffect;
		li{
			margin-bottom:rem-calc(16);
			padding-left:rem-calc(12);
			position:relative;
			&:before{
				position:absolute;
				background-color:$brand-tertiary;
				width: rem-calc(5);
				height: rem-calc(5);
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				content: '';
				border-radius:50%;
			}
			&:hover{
				color: $brand-tertiary;
				cursor: pointer;
				transition:$fastEffect;
			}
		}
	}
	&__item{
		display: none;
		&:first-of-type{
			display: block;
		}
		a{
			color:white;
			border-bottom:1px solid white;
		}
	}
}
.eat-container, .eat-mob-container{
	background-color: $brand-primary;
}

.owl-nav{
	button{
		background-color:transparent;
	}
}